*.avi
MobileNetSSD_deploy.caffemodel
MobileNetSSD_deploy.prototxt
yolov8x.pt
yolov8n.pt
/Servidor Refatorado/Classes/__pycache__
/Servidor Refatorado/__pycache__
/Servidor Refatorado/Classes/Rotas/__pycache__
/Servidor Refatorado/imagens
/Servidor Refatorado/Banco de Dados
/servidor_refatorado/Classes/__pycache__
/servidor_refatorado/Banco de Dados
/venv
