@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
    "header h1 h1"
    "header main main"
    "header main main";
}

header {
    background-color: #2ecc71;
    width: 100px;
    height: 100VH;
}

header > nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > button {
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    color: white;
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
}

header > nav > button i {
    font-size: 24px;
}

header > nav > a {
    margin-bottom: 20px;
    color: white;
    text-decoration: none; /* Sem sublinhado */
    display: flex;
    align-items: center;
}

header > nav > a i {
    font-size: 24px;
}

main {
}

#container-box {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.box {
    cursor: pointer;
}

.box > div > h2 {
    margin: 10px;
    text-align: center;
}

.box > div > img {
    width: 400px;
    height: auto;
}

/* grid-area name */
header {
    grid-area: header;
}

main {
    grid-area: main;
}

#h1 {
    grid-area: h1;
    font-size: 40px;
}

/* parte da ia*/

#camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin-top: -50px;
}

#camera {
    width: 90vh;
    height: 80vh;
}

#camera-ia {
    display: flex;
    flex-direction: row;
}

#texto-stock {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

#h1 {
    text-align: center;
}