* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff
}

header {
    margin: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header > button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

header > button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

header > button > div > img {
    border: 2px solid;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

header > button > div > img:hover {
    transform: scale(1.1);
}

main {
    background-color: #d7d7d7;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60vh;
    border-radius: 50px;
    padding: 20px;
}

main > p {
    padding: 10px;
    font-size: 24px;
}

main > section {
    margin: 10px;
}

main > section > select,
main > section > button {
    height: 50px;
    width: 200px;
    background-color: #fff;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

main > section > select:hover,
main > section > button:hover {
    background-color: black;
    color: #fff;
}

main > button {
    height: 50px;
    width: 200px;
    background-color: #fff;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

main > button:hover {
    background-color: black;
    color: #fff;
}

/* Estilizando o Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 350px;
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.modal-content select,
.modal-content button,
.modal-content input {
    height: 40px;
    width: 250px;
    background-color: #fff;
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: black;
    color: #fff;
}

video {
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
}

 /* Estilo do ícone de configurações */
.config-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 350px;
}

#linkconfig {
    text-decoration: none;
    color: black;
}