* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

header {
    background-color: #2ecc71;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header > img {
    max-width: 390px;
    width: 100%;
    margin-top: 50px;
}

header > h1 {
    font-size: 40px;
    margin-bottom:10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

main > div > h1 {
    font-size: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto1{
    margin-bottom: 10px;
}

.caixa-texto {
    display: flex;
    align-items: center;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 150%;
}

.caixa-texto i {
    font-size: 24px;
    margin-right: 10px;
}

.caixa-texto input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    background: none;
    font-size: 16px;
}

.btn-login {
    height: 50px;
    width: 150%;
    background-color: #fff;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.btn-login:hover {
    background-color: black;
    color: #fff;
}



.linkParaCadastro{
    text-decoration: none;

}

.linkParaCadastro:hover{
    text-decoration: underline;
}

.esqueciSenha{
    text-decoration: none;
}

.esqueciSenha:hover{
    text-decoration: underline;
}

.texto-link{
    font-size: small;
}
